/*reset*/
html, body{
	margin: 0;
	padding: 0;
	font-size: 1rem;
	width: 100%;
	height: 100%;
}
img, div, p, span{
	line-height: 0;
}
img{
	width: 100%;
}
.gnb{
	position: fixed;
	top: 0;
	width: 100%;
	transition: top .2s;
}
.bottom-nav{
	position: fixed;
	bottom:0;
	width: 100%;
	transition: bottom .2s;
}
.to-vote{
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 30px;
}
.to-home{
	display: inline-block;
    position: absolute;
    width: 25%;
    height: 30px;
    top: 0;
    left: 0;
}
.survey .to-vote{
    bottom: 0;
    left: 30%;
}
.vote .to-vote{
    bottom: 0;
    left: 0;
}
